<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>登录</title>
<link th:href="@{/css/style.css}"
      rel='stylesheet' type='text/css' />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords"
	content="Client Login Form,Login Forms,Sign up Forms,Registration Forms,News latter Forms,Elements" />
<link
	href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700,800'
	rel='stylesheet' type='text/css'>
<script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
<script>
	
	$(function(){
		
		$("body").keydown(function(event) {
			 if (event.keyCode == "13") {
				 //keyCode=13是回车键
				 $(".submit").click();
			 }
		});
		
		$('.submit').on('click', function(){
		
			var $name = $('input[type=text]').val();
			var $password = $('input[type=password]').val();
			
			if ($name == ''){
				alert("用户名不能为空");
			} else if ($password == ''){
				alert("密码不能为空");
			} else {
				
				$.post("user/login", {name : $name, password : $password}, function(data){
					console.log(data);
					
					if (data == "OK") {
						window.location.href = "index";
					} else {
						alert(data);
					}
					
				});
			}
		});	
	});
	
</script>

</head>
<body>

	<div class="shadow-forms">
		<div class="message warning">
			<div class="login-head">
				<h2>登录</h2>
			</div>
			<div class="sub-head"></div>
			<form>
				<input type="text" class="text" name="name" placeholder="请输入用户名">
				<input type="password" name="password" placeholder="请输入密码" autocomplete="off">
				<div class="p-container">
					<div class="clear"></div>
				</div>
				<div class="submit">
					<a href="index.html"><input type="button" value="登录"></a>
				</div>

			</form>

		</div>

		<div class="clear"></div>
	</div>

	<!--- footer -->
	<div class="footer">
		<p>Copyright 2011-2018 杰普软件科技有限公司 ICP 05024518 | 营业执照</p>
	</div>
</body>

</html>